
ul{
         padding:0;
         width:1200px;
         margin:20px auto;
}

li{
         display:inline;
}

.btn {
         
         width:100px;
         margin:1px auto;
          display:inline;  
       box-shadow: #555 1px 8px 1px 1px;

          
}


.tn{
         margin:6px;
         border:4px solid #eee;
         box-shadow: #555 1px 8px 1px 1px;
}

.card-body{
   background-color:black;
   color:red;
   font-size: x-large ;
   text-decoration:cyan;
   border-style: double;
   text-align: center  ;

}

.card{
   margin:1px auto ;
   padding:10px;
}